@media (max-width: 1200px){
    .promo{
         background-size:145% 105% ; 
         height: 610px;
         &_header{
             font-size: 37px;
         }
         &_subheader{
            font-size: 20px;
        }
        &_wrapper{
            padding-right: 20px;
        }
        .button_main{
            width: 235px;
            height: 45px;
        }
    }

    .header{
        &_logo{
            img{
                display: block;
                padding-left: 35px;
                width: 100%;
            }
        }
        &_contacts{
            padding-right: 30px;
            .button{
                width: 140px;
            }
        }
        &_phone{
            font-size: 17px;
        }
    }

    .consultation{
        .container{
            padding-left: 50px;
        }
        .title_left{
            font-size: 30px;
        }
       
    }

    .carousel{
        .slick-slide{
            img{
                width: 580px;
                margin: 0 auto;
            }
        }
        .slick-next.slick-arrow{
            right: -50px;
            left: auto;
        }
        .slick-prev.slick-arrow{
            left: -36px;
            right: auto;
        }
        .slick-slide{
            img{
                width:500px
            }
        }
        
    }


    .footer{
        &_info{
            width: 430px;
            height: 250px;
            padding: 40px 68px 60px 68px;
        }
    }
}
@media (max-width: 919px){
    .promo{
        height: 550px;
        background-size:145% 100% ; 
        &_header{
            font-size: 30px;
        }
        &_subheader{
            font-size: 17px;
        }
        &_icons{
            width: 320px;
        }
        &_icon{
            margin-top: 20px;
            font-size: 13px;
        }
        .button_main{
            margin-top: 40px;
        }
    }
    .label{
        &_descr{
            font-size: 13px;
        }
    }
    .catalog{
        .title{
            margin-top: 25px;
        }
        &_tabs{
            li{
                font-size: 17px;
            }
        }
        &-item{
            margin-left: 40px;
            margin-right: 40px;
        }
    }
    .carousel{
        .slick-slide{
            img{
                display: block;
                width:400px;
                margin: 0 auto;
            }
        }
    }
    .response{
        display: none;
    }
    
}