@media (max-width: 1200px){
    .promo{
         background-size:145% 105% ; 
         height: 610px;
         &_header{
             font-size: 37px;
         }
         &_subheader{
            font-size: 20px;
        }
        &_wrapper{
            padding-right: 20px;
        }
        .button_main{
            width: 235px;
            height: 45px;
        }
    }

    .header{
        &_logo{
            img{
                display: block;
                padding-left: 35px;
                width: 100%;
            }
        }
        &_contacts{
            padding-right: 30px;
            .button{
                width: 140px;
            }
        }
        &_phone{
            font-size: 17px;
        }
    }

    .consultation{
        .container{
            padding-left: 50px;
        }
        .title_left{
            font-size: 30px;
        }
       
    }

    .carousel{
        .slick-slide{
            img{
                width: 580px;
                margin: 0 auto;
            }
        }
        .slick-next.slick-arrow{
            right: -50px;
            left: auto;
        }
        .slick-prev.slick-arrow{
            left: -36px;
            right: auto;
        }
        .slick-slide{
            img{
                width:500px
            }
        }
        
    }


    .footer{
        &_info{
            width: 430px;
            height: 250px;
            padding: 40px 68px 60px 68px;
        }
    }
}
@media (max-width: 919px){
    .promo{
        height: 550px;
        background-size:145% 100% ; 
        &_header{
            font-size: 30px;
        }
        &_subheader{
            font-size: 17px;
        }
        &_icons{
            width: 320px;
        }
        &_icon{
            margin-top: 20px;
            font-size: 13px;
        }
        .button_main{
            margin-top: 40px;
        }
    }
    .label{
        &_descr{
            font-size: 13px;
        }
    }
    .catalog{
        .title{
            margin-top: 25px;
        }
        &_tabs{
            li{
                font-size: 17px;
            }
        }
        &-item{
          margin: 0 auto;
          margin-bottom: 20px;
        }
    }
    .carousel{
        .slick-slide{
            img{
                display: block;
                width:350px;
                margin: 0 auto;
            }
        }
        .slick-next.slick-arrow{
            right: 60px;
            left: auto;
        }
        .slick-prev.slick-arrow{
            left: 60px;
            right: auto;
        }
    }
    .response{
        &_descr{
            font-size: 14px;
            width: 600px;
        }
        &_icon{
            img{
                width: 100px;
                padding-left: 10px;
            }
        }
    }
    .footer{
        &_info{
            width: 400px;
            height: 230px;
            padding: 40px 68px 60px 68px;
        }
        &_addr{
            font-size: 19px;
        }
        &_phone{
            font-size: 19px;
        }
        &_social-item{
            width: 45px;
            height: 45px;
        }
    }
    
    
}
@media (max-width: 767px){
    .header{
        .button{
            font-size: 12px;
            width: 10px;

        }
    }
    .pageup{
        display: none;
        position: fixed;
        bottom:40px;
        right: 40px;
        width: 40px;
        height: 40px;
        img{
            width: 100%;
        }
    }
    .promo{
        height: 490px;
        background-size:160% 100%;
        &_wrapper{
            margin-top: 70px;
            padding-right: 15px;
        }
        &_header{
            font-size: 24px;
        }
        &_subheader{
            font-size: 13px;
        }
        &_icons{
            width: 280px;
        }
        &_icon{
            margin-top: 20px;
            font-size: 12px;
        }
        .button_main{
            margin-top: 25px;
            width:220px;
            height: 43px;
            font-size: 14px;
        }
    }
    .header{
        &_logo{
            width: 230px;
            img{
                display: block;
                width: 230px;
                padding: 0 0 0 2px;
                
            }
        }
        &_official{
            font-size: 12px;
            /* padding-right: 10px; */
            span{
                font-size: 16px;
            }
        }
        &_phone{
            font-size: 14px;
        }
        &_contacts{
            padding-right: 15px;
            .button{
                width:130px;
                height: 25px;
            }
        }
    }
    
    .label{
        &_wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
        }
        padding-top: 50px;
        &_item{
            width: 250px;
            margin-top: 30px;
        }
        &_subheader{
            font-size: 16px;
        }
        &_descr{
            font-size: 15px;
            width: 250px;
            text-align: center;
        }
    } 
    .carousel{
       display: none;
    }
    .response{
        
    }
    .catalog{
        &_tabs{
            flex-direction: row;
            margin-top: 10px;
            width: 560px;
            padding-left: 15px;
            li{
                font-size: 15px;
            }
        }
        &_tab{
            margin-top: 20px;
        }
        &-item{
            width: 250px;
            height: 500px;
            &_img{
                height: 180px;
            }
            &_wrapper{
                height: 350px;
            }
            &_price{
                font-size: 19px;
            }
            &_list{
                li{
                    font-size: 12px;
                }
            }
        }
        .button_mini{
            width: 100px;
            height: 35px;
            font-size:13px ;
        }
    }
    
    .consultation{
        .container{
            padding:0;
        }
        .title{
            font-size: 25px;
            text-align: center;
        }
        &_descr{
            text-align: center;
            margin-top: 60px;
        }
    } 
    .feed-form{
        margin: 0 auto;
        margin-top: 40px;
    }
   
    
    .response{
        &_descr{
            font-size: 13px;
            width: 450px;
        }
    }
    .footer{
        &_info{
            width: 350px;
            height: 220px;
        }
        &_addr{
            font-size: 17px;
        }
        &_phone{
            font-size: 17px;
        }
        &_social-item{
            width: 40px;
            height: 40px;
        }
    }




    
}