.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/main_bg.jpg') center (Center/cover) no-repeat;
    &_wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &_header{
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
  
    }
    &_subheader{
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &_icons{
        width:425px;
        display: flex;
        justify-content: space-between;
        
    }
    &_icon{
        width: 125px;
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &_link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a{
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;

        }
    }
    
    
}